<div class="generic nineforty">
  <h1>Recent Chat</h1>
  <% @chat_messages.each do |chat_message| %>
    <p>
      &lt;<%= link_to chat_message.player.name, player_path(chat_message.player) %>&gt; <%= chat_message.message %>
    </p>
  <% end %>
  <p>
    <%= will_paginate @chat_messages %>
  </p>
</div>
