<div class="generic nineforty">
  <h1>Player Profile: <%= @player.name %></h1>
</div>
<div class="generic nineforty">
  <h2>Recent Chats</h2>
  <% @player.chat_messages.each do |chat_message| %>

    <div class="nineforty float-left">
      <%= chat_message.message %>
    </div>
  <% end %>
</div>
